@inherits JkwPageBase
@using MudBlazor

@if (Sets != null)
{
<MudTable Items="@Sets" Dense="true">
    <HeaderContent>
        @foreach (var cubeName in CubeNames)
        {
            <MudTh>@cubeName</MudTh>
        }
        @foreach (var scale in State.Scales)
        {
            var leftName = $"L{scale.Id}";
            var rightName = $"R{scale.Id}";
            <MudTh>@leftName</MudTh>
            <MudTh>@rightName</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        @foreach (var cubeName in CubeNames)
        {
            var value = context[cubeName];
            <MudTd>
                @value
            </MudTd>
        }
        @foreach (var scale in State.Scales)
        {
            var leftName = $"L{scale.Id}";
            var rightName = $"R{scale.Id}";
            var leftValue = scale.Left.Cubes.Sum(c => context[c.Name]);
            var rightValue = scale.Right.Cubes.Sum(c => context[c.Name]);
            <MudTd>@leftValue</MudTd>
            <MudTd>@rightValue</MudTd>
        }
        <MudTd>
            @if (calcResult.ContainsKey(context))
            {
                var result = calcResult[context];
                <span>@result</span>
            }
        </MudTd>
    </RowTemplate>
</MudTable>
}
else
{
    var count = AssistSets?.Count() ?? 0;
<span>
    너무 많은 경우가 있습니다. 100개 이하로 줄어들면 표시됩니다. 현재 @count
</span>
}