@inherits JkwPageBase
@page "/game/libra/room/{GameId}"
@using MudBlazor

@if (_state != null)
{
<MudDropContainer T="DropCubeItem" Items="_cubes"
    Class="mud-border-lines-default"
    ItemsSelector="@((item, dropzone) => item.Identifier == dropzone)"
    ApplyDropClassesOnDragStarted="false"
    CanDropClass="mud-border-info"
    NoDropClass="mud-border-error"
    CanDrop="CanDrop"
    ItemDropped="ItemDropped"
>
    <ChildContent>
        <div class="board">
            <div class="scales d-flex">
                @foreach (var scale in _state.Scales)
                {
                    <ScaleComponent Scale="@scale" />
                }
            </div>
            <div>
                <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Error"
                    OnClick="Confirm"
                >
                    !! 확정 !!
                </MudButton>
            </div>
            <div class="players">
                @foreach (var player in _state.Players)
                {
                    <PlayerComponent Player="@player" />
                }
            </div>
        </div>
    </ChildContent>
    <ItemRenderer>
        @{
            var color = $"cube-color-{context.Cube.Id}";
        }
        <span class="cube-item @color">@context.Cube.Id</span>
    </ItemRenderer>
</MudDropContainer>
}

