@inherits JkwPageBase
@page "/users"

<PageTitle>유저 관리</PageTitle>

<h2>UserList</h2>

<MudTable Items="FilteredUsers">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>이름</MudTh>
        <MudTh>닉네임</MudTh>
        <MudTh>이메일</MudTh>
        <MudTh>가입일</MudTh>
        <MudTh>권한</MudTh>
    </HeaderContent>
    <RowTemplate Context="user">
        <MudTd>@user.Id</MudTd>
        <MudTd>@user.UserName</MudTd>
        <MudTd>@user.NickName</MudTd>
        <MudTd>@user.Email</MudTd>
        <MudTd>@user.CreateTime</MudTd>
        <MudTd>
            @foreach (var role in typeof(UserRole).GetValues<UserRole>())
            {
                bool isChecked = user.Roles?.Contains(role) ?? false;
                var componentName = $"Checkbox_{user.Id}_{role.ToString()}";

                <MudCheckBox T="bool" Checked="isChecked" Label="@role.ToString()" CheckedChanged="@(async args => await UserRoleChangedAsync(user, role, args))"/>
            }
        </MudTd>
    </RowTemplate>
</MudTable>
