@inherits JkwPageBase
@page "/users"

@using Common
@using JkwExtensions 

<h3>UserList</h3>

<RadzenGrid Data="FilteredUsers"
            AllowSorting="true" AllowFiltering="true">
    <Columns>
        <RadzenGridColumn TItem="AppUser" Property="Id" Title="ID" />
        <RadzenGridColumn TItem="AppUser" Property="UserName" Title="이름" />
        <RadzenGridColumn TItem="AppUser" Property="Email" Title="이메일" />
        <RadzenGridColumn TItem="AppUser" Property="CreateTime" Title="가입일" />
        <RadzenGridColumn TItem="AppUser" Property="Roles" Title="권한" Sortable="false">
            <FilterTemplate>
                <RadzenDropDown @bind-Value="CheckedRoles" Multiple="true" Data="CheckedRolesData" />
            </FilterTemplate>
            <Template Context="user">
                <div style="white-space: initial;">
                @foreach (var role in typeof(UserRole).GetValues<UserRole>())
                {
                    var isChecked = user.Roles?.Contains(role) ?? false;
                    var componentName = $"Checkbox_{user.Id}_{role.ToString()}";

                    <div style="display: inline-block; padding-right: 5px;">
                    <RadzenCheckBox @bind-Value="@isChecked" TValue="bool" Name="@componentName"
                                    Change="@(async args => await UserRoleChangedAsync(user, role, args))" />
                    <RadzenLabel Text="@role.ToString()" Component="@componentName" Style="cursor: pointer"
                                 @onclick="@(async () => await UserRoleToggleAsync(user, role))" />
                    </div>
                }
                </div>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

