@inherits JkwPageBase
@page "/diary/{DiaryName?}/{Date?}"

@using JkwExtensions

@if (!IsAuthenticated || Loading)
{
}
else if (MyDiaryInfo != null && !HasDiaryInfo)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Policy="Diary">
        <Authorized>
            <span>없는 일기장입니다.</span>
        </Authorized>
        <NotAuthorized>
            <span>일기장 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (MyDiaryInfo == null && !HasDiaryInfo)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Roles="DiaryWriter">
        <Authorized>
            <MudLink Href="@DiaryUrl.Create()">일기장 만들기</MudLink>
        </Authorized>
        <NotAuthorized>
            <span>일기쓰기 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (!HasDiaryContent)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Roles="DiaryWriter">
        <Authorized>
            <MudLink Href="@DiaryUrl.Write(DiaryInfo)">일기 쓰기</MudLink>
        </Authorized>
        <NotAuthorized>
            <span>일기쓰기 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (HasDiaryContent)
{
    <AuthorizeView Policy="Diary">
        <Authorized>

    <PageTitle>@User.UserName 님의 일기장 </PageTitle>
    <span class="diary-date">@View.DiaryContents[0].Date.ToString("yyyy.MM.dd dddd")</span>

    <div class="button-group">
    <div id="button-left-group">
        <MudButton Link="@DiaryUrl.PrevDate(View)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Surface" Disabled="!View.DiaryNavigationData.HasPrev">
            이전
        </MudButton>
        <MudButton Link="@DiaryUrl.NextDate(View)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Surface" Disabled="!View.DiaryNavigationData.HasNext">
            다음
        </MudButton>
    </div>
    <div id="button-right-group">
            <MudButton Link="@DiaryUrl.ShowAll(DiaryInfo.DiaryName)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Info">
                전체보기
            </MudButton>
        @if (DiaryInfo.IsSecret == false && DiaryInfo.CanWrite(User.Email))
        {
            <MudButton Link="@DiaryUrl.Search(DiaryInfo.DiaryName)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Info">
                검색
            </MudButton>
        }
        @if (DiaryInfo.CanWrite(User.Email))
        {
            <MudButton Link="@DiaryUrl.Write(DiaryInfo)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success">
                쓰기
            </MudButton>
            <MudButton Link="@DiaryUrl.Write(DiaryInfo, View.DiaryContents[0].Date.AddDays(1))" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success">
                다음날 쓰기
            </MudButton>
        }
        @if (IsMyText(View))
        {
            <MudButton Link="@DiaryUrl.Edit(DiaryInfo, View.DiaryContents[0].Date)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Tertiary">
                수정
            </MudButton>
        }
        @if (DiaryInfo.IsSecret)
        {
            <MudButton Link="@DiaryUrl.SetPassword()" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Tertiary">
                암호
            </MudButton>
        }
    </div>
    </div>

    @foreach (var content in View.DiaryContents)
    {
        <pre style="white-space: pre-wrap">@content.Text</pre>
    }

        </Authorized>
    </AuthorizeView>
}
