@inherits JkwPageBase
@layout WcLayout
@using ProjectWorldCup.Pages.Betting;
@page "/worldcup/2026/betting/group-stage"


<WcTitle>1라운드: 각 조 1,2위 맞추기</WcTitle>

@code {
    string commonButtonStyle = "padding: 6px; border-radius: 6px; box-shadow: var(--mud-elevation-1); display: block; text-align: start; width: 100%; text-transform: initial;";
}

@if (BettingItems?.Any() ?? false)
{
    @* <BettingResultComponent BettingItems="BettingItems"></BettingResultComponent> *@
}

@if (!IsAuthenticated)
{
  <MudLink Href="/login?ReturnUrl=/worldcup/2026/betting/group-stage" Underline="Underline.Always">
    &lt;&lt; 로그인 하러 가기 &gt;&gt;
  </MudLink>
}
else if ((BettingUser?.JoinStatus ?? UserJoinStatus.None)== UserJoinStatus.None)
{
  <MudLink Href="/worldcup/2026/welcome-betting" Underline="Underline.Always">
    &lt;&lt; 참가신청 하러 가기 &gt;&gt;
  </MudLink>
}
else
{
  <MudText Typo="Typo.body1" Class="d-block">저장 버튼은 없습니다. 자동 저장 됩니다.</MudText>
  <MudText Typo="Typo.body1" Class="d-block">잘 할 것 같은 팀을 선택하기만 하면 됩니다. 한 조에 두 팀을 고르세요.</MudText>
}

@if (TimeOver)
{
    <div>선택 시간이 끝났습니다.</div>
}
else
{
<WcRemainTime
    ClassName="group-stage-remain-time"
    RemainSeconds="@(GroupStageService.GetRemainSeconds())"
    TimeOver="@(() => OnTimeOver())"/>

<div class="remain-text">
    <span class="group-stage-remain-time"></span>
    <span>남았습니다.</span>
</div>
}

<div>
    @foreach (var group in Groups)
    {
        <div class="group-row">
            <div class="group-name">@group.Name</div>
            <div class="group-teams">
                <div class="teams-row">
                    @foreach (var team in group.Teams)
                    {
<div class="team">
@if (GetButtonType(team) == TeamButtonType.Pickable)
{
    var buttonStyle = $"{commonButtonStyle}";
    <MudButton Class="team-inner" Style="@buttonStyle" OnClick="(async () => await PickTeam(team))">
        <img class="team-img" src="@team?.Flag"/>
        <span class="team-name">@team?.Name</span>
    </MudButton>
}
else if (GetButtonType(team) == TeamButtonType.Picked)
{
    var buttonStyle = $"{commonButtonStyle} color: white; background: #56042C";
    <MudButton Class="team-inner" Style="@buttonStyle" OnClick="(async () => await UnpickTeam(team))">
        <img class="team-img" src="@team?.Flag"/>
        <span class="team-name">@team?.Name</span>
    </MudButton>
}
else
{
    <MudButton Class="team-inner" Style="@commonButtonStyle" Disabled="true">
        <img class="team-img" src="@team?.Flag" style="filter: grayscale(0.7)"/>
        <span class="team-name">@team?.Name</span>
    </MudButton>
}
</div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (!TimeOver)
{
  @if (BettingItem?.IsRandom ?? false)
  {
  }
  else
  {
  @if (CheckRandom1 == false)
  {
    <MudButton OnClick="@(() => { CheckRandom1 = true; })" Variant="Variant.Outlined" Color="Color.Error">
      랜덤 선택 (저는 운에 맡기겠어요)
    </MudButton>
  }
  else if (CheckRandom2 == false)
  {
    <MudButton OnClick="@(() => { CheckRandom2 = true; })" Variant="Variant.Outlined" Color="Color.Error">
      랜덤 선택을 하면 더 이상 수정할 수 없습니다. 각오하셨습니까?
    </MudButton>
  }
  else if (CheckRandom3 == false)
  {
    <MudButton OnClick="@(() => { CheckRandom3 = true; })" Variant="Variant.Outlined" Color="Color.Error">
      결과가 마음에 안들더라도 절대 복구해주지 않을 겁니다. 괜찮습니까?
    </MudButton>
  }
  else
  {
    <MudButton OnClick="@(() => SelectFullRandom())" Variant="Variant.Filled" Color="Color.Error">
      찐막 질문. 랜덤 선택하시겠습니까?
    </MudButton>
  }
  }
}
