@inherits JkwPageBase
@using MudBlazor

<MudPaper onclick="@(() => GotoMatchCenter())" Style="cursor: pointer; text-align: center;">
    <MudChip Color="@LeftColor">@LeftName</MudChip>
    <div class="d-inline-block">
        <span>@Match.LeftSetScore</span>
        <span>:</span>
        <span>@Match.RightSetScore</span>
    </div>
    <MudChip Color="@RightColor">@RightName</MudChip>
</MudPaper>

@code {
  [Parameter] public MatchData Match { get; set; }

  private string LeftName => Match?.LeftPlayer != null ? $"{Match.LeftPlayer.Name} ({Match.LeftPlayer.Class})" : string.Empty;
  private string RightName => Match?.RightPlayer != null ? $"{Match.RightPlayer.Name} ({Match.RightPlayer.Class})" : string.Empty;

  private Color LeftColor => (Match?.LeftWin ?? false) ? Color.Success : (Match?.RightWin ?? false) ? Color.Dark : Color.Default;
  private Color RightColor => (Match?.LeftWin ?? false) ? Color.Dark: (Match?.RightWin ?? false) ? Color.Success: Color.Default;

  protected override void OnPageParametersSet()
  {
  }

  private void GotoMatchCenter()
  {
    Navi.NavigateTo($"/jangtak9/match/{Match.Id.ToUrl()}");
  }
}
