@inherits JkwPageBase
@layout PpLayout
@page "/jangtak9/match/{MatchIdText}"
@using MudBlazor

@if (Match == null)
{
  return;
}


<MudGrid>
  <MudItem xs="5">
    <MudPaper Elevation="0" Style="text-align: center;">
      <MudText Typo="Typo.h5">
        @Match.LeftPlayer?.Name
      </MudText>
      @if (Match.HasPlayingSet)
      {
        <button class="score" onclick="@(async () => await IncreaseScore(Match.LeftPlayer))">
          @Match.MyGamePoint(Match.LeftPlayer)
        </button>
      }
    </MudPaper>
  </MudItem>
  <MudItem xs="2" Style="text-align: center;">
    <MudText Typo="Typo.h4">
      <span> @Match.LeftSetScore </span>
      <span> : </span>
      <span> @Match.RightSetScore </span>
    </MudText>

    @if (Match.HasPlayingSet)
    {
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Warning"
        OnClick="@(async () => await CancelSet())"
        >게임 취소하기</MudButton>
    }
  </MudItem>
  <MudItem xs="5">
    <MudPaper Elevation="0" Style="text-align: center;">
      <MudText Typo="Typo.h5">
        @Match.RightPlayer?.Name
      </MudText>
      @if (Match.HasPlayingSet)
      {
        <button class="score" onclick="@(async () => await IncreaseScore(Match.RightPlayer))">
          @Match.MyGamePoint(Match.RightPlayer)
        </button>
      }
    </MudPaper>
  </MudItem>
  @if (Match.Finished)
  {
    <MudItem xs="12">
      <MudText Typo="Typo.h4">경기가 종료되었습니다.</MudText>
      <MudPaper Elevation="0" Style="margin-top: 30px;">
        <MudButton
            Class="big"
            Variant="Variant.Outlined"
            OnClick="@(async () => await RestartMatch())"
            >다시 진행</MudButton>
      </MudPaper>
    </MudItem>
  }
  else if (Match.NotStarted)
  {
    <MudItem xs="12">
      <MudPaper Elevation="0">
        <MudButton
            Class="big"
            Variant="Variant.Outlined"
            OnClick="@(async () => await StartMatch())"
            >경기 시작</MudButton>
      </MudPaper>
    </MudItem>
  }
  else if (Match.WaitingNextSet)
  {
    <MudItem xs="12">
      <MudPaper Elevation="0">
        <MudButton
            Class="big"
            Variant="Variant.Outlined"
            OnClick="@(async () => await StartNewSet())"
            >다음 세트 시작</MudButton>
      </MudPaper>
      <MudPaper Elevation="0" Style="margin-top: 30px;">
        <MudButton
            Class="big"
            Variant="Variant.Outlined"
            Color="Color.Error"
            OnClick="@(async () => await FinishMatch())"
            >경기 종료</MudButton>
      </MudPaper>
    </MudItem>
  }
</MudGrid>

<style>
  .score {
      width: 100%;
      text-align: center;
      font-size: 50vh;
      line-height: 100%;
  }
  .big {
      width: 100%;
      font-size: xx-large;
  }
</style>