@inherits JkwPageBase

@page "/worldcup/2022/qualified"

<WcTitle>본선 진출국 (@QualifiedTeams.Count / 32)</WcTitle>

@foreach (var data in TeamByRegion)
{
    <div class="region">
        <div class="region-title">
            <span class="region-name">@data.Region</span>
            <span class="region-count">(@data.Teams.Count)</span>
        </div>
        <div class="qualified-list row">
            @foreach (var team in data.Teams)
            {
                <div class="team col-md-3">
                    <MudPaper Class="team-inner" Style="padding: 6px; border-radius: 6px;">
                        <img class="team-img" src="@team.Flag"/>
                        <span class="team-name">@team.Name</span>
                        <span>(@team.FifaRank)</span>
                    </MudPaper>
                </div>
            }
        </div>
    </div>
}
