@inherits JkwPageBase

@page "/worldcup/qualified"

<h3>본선진출국 (@QualifiedTeams.Count / 32)</h3>

@foreach (var region in Regions)
{
    <div class="region">
        <div class="region-title">
            <span class="region-name">@region.Region.Text</span>
            <span class="region-count">(@region.Teams.Count)</span>
        </div>
        <div class="qualified-list row">
            @foreach (var team in region.Teams)
            {
                <div class="team col-md-3">
                    <MudPaper Class="team-inner" Style="padding: 6px; border-radius: 6px;">
                        <img class="team-img" src="@team.Flag.Src"/>
                        <span class="team-name">@team.Name</span>
                        <span>(@team.Rank)</span>
                    </MudPaper>
                </div>
            }
        </div>
    </div>
}
