@inherits JkwPageBase

<div class="team @Class" style="@Style">
    <MudPaper Class="team-inner" Style="padding: 6px; border-radius: 6px;">
        <img class="team-img" src="@Team.Flag"/>
        <span class="team-name">@Team.Name</span>
        <span>@Score</span>
    </MudPaper>
</div>
