@page "/admin/users"
@inherits JkwPageBase2
@using HelloJkwCore2.Authentication
@using HelloJkwCore2.Components

<MudTable Items="FilteredUsers" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ApplicationUser, object>(user => user.UserName ?? string.Empty)">
                이름
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ApplicationUser, object>(user => user.Nickname ?? string.Empty)">
                닉네임
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            로그인
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ApplicationUser, object>(user => user.CreateTime)">
                가입일
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ApplicationUser, object>(user => user.LastLoginTime)">
                마지막 접속
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            권한
        </MudTh>
        <MudTh>
            관리
        </MudTh>
    </HeaderContent>
    <RowTemplate Context="user">
        <MudTd>@user.Id</MudTd>
        <MudTd>@user.UserName</MudTd>
        <MudTd>@user.Nickname</MudTd>
        <MudTd>
            @foreach (var login in user.Logins)
            {
                <span>@login.Provider</span>
            }
        </MudTd>
        <MudTd>
            <span class="date-time">@user.CreateTime.ToString("yyyy. M. d.")</span>
            <span class="date-time">@user.CreateTime.ToString("HH:mm:ss")</span>
        </MudTd>
        <MudTd>
            <span class="date-time">@user.LastLoginTime.ToString("yyyy. M. d.")</span>
            <span class="date-time">@user.LastLoginTime.ToString("HH:mm:ss")</span>
        </MudTd>
        <MudTd>
            <div>
            @foreach (var role in user.Roles)
            {
                <MudText>@role</MudText>
            }
            </div>

            <div>
                <MudButton Size="Size.Small" Variant="Variant.Outlined"
                    OnClick="@(async () => await ManageUserRole(user))"
                >
                    권한 설정
                </MudButton>
            </div>
        </MudTd>
        <MudTd>
            <DoubleClickButton OnClick="@(async () => await DeleteUserAsync(user))" Size="Size.Small"
                DefaultVariant="Variant.Outlined" DefaultColor="Color.Default"
                ActionVariant="Variant.Filled" ActionColor="Color.Secondary"
                ResetDelay="TimeSpan.FromSeconds(3)"
            >
                삭제
            </DoubleClickButton>
        </MudTd>
    </RowTemplate>
</MudTable>
