@inherits JkwPageBase
@page "/diary/{DiaryName?}/{Date?}"

@using JkwExtensions

@if (!IsAuthenticated || Loading)
{
}
else if (MyDiaryInfo != null && !HasDiaryInfo)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Policy="Diary">
        <Authorized>
            <span>없는 일기장입니다.</span>
        </Authorized>
        <NotAuthorized>
            <span>일기장 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (MyDiaryInfo == null && !HasDiaryInfo)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Roles="DiaryWriter">
        <Authorized>
            <MudLink Href="@DiaryUrl.Create()">일기장 만들기</MudLink>
        </Authorized>
        <NotAuthorized>
            <span>일기쓰기 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (!HasDiaryContent)
{
    <PageTitle>일기장</PageTitle>
    <AuthorizeView Roles="DiaryWriter">
        <Authorized>
            <MudLink Href="@DiaryUrl.Write(DiaryInfo)">일기 쓰기</MudLink>
        </Authorized>
        <NotAuthorized>
            <span>일기쓰기 권한이 없습니다.</span>
        </NotAuthorized>
    </AuthorizeView>
}
else if (HasDiaryContent)
{
    <AuthorizeView Policy="Diary">
        <Authorized>

    <PageTitle>@User.DisplayName 님의 일기장 </PageTitle>
    <span class="diary-date">@View.DiaryContents[0].Date.ToString("yyyy.MM.dd dddd")</span>

    <div class="button-group">
    <div id="button-left-group">
        <MudButton Href="@DiaryUrl.PrevDate(View)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Surface" Disabled="!View.DiaryNavigationData.HasPrev">
            이전
        </MudButton>
        <MudButton Href="@DiaryUrl.NextDate(View)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Surface" Disabled="!View.DiaryNavigationData.HasNext">
            다음
        </MudButton>
    </div>
    <div id="button-right-group">
        @if (DiaryInfo.CanWrite(User.Id))
        {
            <MudButton Href="@DiaryUrl.ShowAll(DiaryInfo.DiaryName)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Info">
                전체보기
            </MudButton>
        }
        @if (DiaryInfo.IsSecret == false && DiaryInfo.CanWrite(User.Id))
        {
            <MudButton Href="@DiaryUrl.Search(DiaryInfo.DiaryName)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Info">
                검색
            </MudButton>
        }
        @if (DiaryInfo.CanWrite(User.Id))
        {
            var nextDate = View.DiaryContents.First().Date.AddDays(1);

            <MudButton Href="@DiaryUrl.Write(DiaryInfo, nextDate)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success">
                쓰기
            </MudButton>
        }
        @if (IsMyText(View))
        {
            <MudButton Href="@DiaryUrl.Edit(DiaryInfo, View.DiaryContents[0].Date)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Tertiary">
                수정
            </MudButton>
        }
        @if (DiaryInfo.IsSecret)
        {
            <MudButton Href="@DiaryUrl.SetPassword()" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Tertiary">
                암호
            </MudButton>
        }
        @if (User?.HasRole(UserRole.Admin) ?? false)
        {
            <MudButton Href="@DiaryUrl.Settings(DiaryInfo.DiaryName)" Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default">
                공개설정
            </MudButton>
        }
        @if (DiaryInfo.CanWrite(User.Id) && DiaryInfo.AllowPicture)
        {
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles" Accept=".jpg,.png">
            <ButtonTemplate Context="fileUploadContext">
                <MudButton HtmlTag="label"
                            Variant="Variant.Outlined"
                            Size="Size.Small"
                            StartIcon="@Icons.Material.Filled.CloudUpload"
                            for="@fileUploadContext.Id"
                            >
                    사진 업로드
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        }

    </div>
    </div>

    @foreach (var content in View.DiaryContents)
    {
        <pre style="white-space: pre-wrap">@content.Text</pre>
    }

    @foreach (var picture in View.PicturesBase64)
    {
        <img src="data:image/png;base64,@picture" style="width: 100%;"/>
    }


        </Authorized>
    </AuthorizeView>
}

<DiaryViewableList/>
