@page "/account/login"
@page "/login"

<PageTitle>로그인</PageTitle>

<MudText Typo="Typo.h3">로그인</MudText>

@foreach (var provider in externalLogins)
{
    var loginImage = LoginImage(provider.Name);

    @if (provider.Name == "Google" && IsInAppBrowser)
    {
        <MudButton OnClick="LoginGoogleInOtherBrowser">
            <MudImage Src="@loginImage" />
        </MudButton>
    }
    else
    {
        <form @formname="@($"login-{provider.Name}")" action="Account/PerformExternalLogin" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <input type="hidden" name="provider" value="@provider.Name" />
            <MudButton ButtonType="ButtonType.Submit">
                <MudImage Src="@loginImage" />
            </MudButton>
        </form>
    }
}

<script>
    function checkAntiforgeryToken() {
        var inputs = document.getElementsByName("__RequestVerificationToken");
        return inputs.length != 0;
    }

    function reload() {
        location.reload();
    }
</script>
