@page "/diary"
@page "/diary/{DiaryName}/{DateStr}"

@using Common
@using HelloJkwService.Diary

@if (IsAuthenticated && HasDiary)
{
    <h2>@Diary.Date.ToString("yyyy.MM.dd") <span class="smaller">@Diary.Date.GetWeekday(DateLanguage.KR, WeekdayFormat.D)</span></h2>

    @foreach (var diary in DiaryList.Where(x => x.Date == DiaryDate))
    {
        <pre>@diary.Text</pre>
    }

    @if (Diary.HasPrev(out var prevDate))
    {
        <button class="btn btn-primary" @onclick="@(_ => GotoDiary(DiaryInfo.DiaryName, prevDate))">
            이전
        </button>
    }

    @if (Diary.HasNext(out var nextDate))
    {
        <button class="btn btn-primary" @onclick="@(_ => GotoDiary(DiaryInfo.DiaryName, nextDate))">
            다음
        </button>
    }

    @if (IsMyDiary)
    {
        <button class="btn btn-success" @onclick="@(_ => WriteDiary())">쓰기</button>
        <button class="btn btn-warning" @onclick="@(_ => EditDiary())">수정</button>
    }
}
else if (IsAuthenticated && !HasDiary)
{
    <span>일기장을 만드세요</span>
}
else
{
    <span>로그인하세요.</span>
}


@code {

}
