@inherits JkwPageBase

<MudTable Items="BettingResult" Dense="true">
    <HeaderContent>
        <MudTh>닉네임</MudTh>
        <MudTh>성공</MudTh>
        <MudTh>실패</MudTh>
        <MudTh>점수</MudTh>
        <MudTh>결과</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Style="justify-content: normal;">@context.User.DisplayName.Substring(0, 5)***</MudTd>
        <MudTd Style="justify-content: normal;">
            <div>
            @foreach (var s in context.Success)
            {
                <img class="team-img success" src="@s.Flag"/>
            }
            </div>
        </MudTd>
        <MudTd Style="justify-content: normal;">
            <div>
            @foreach (var s in context.Fail)
            {
                <img class="team-img fail" src="@s.Flag"/>
            }
            </div>
        </MudTd>
        <MudTd Style="justify-content: normal;">@context.Score</MudTd>
        <MudTd Style="justify-content: normal;">@context.Reward.ToString("#,#")</MudTd>
    </RowTemplate>
</MudTable>