@inherits JkwPageBase

<MudTable Items="BettingResult" Dense="true">
    <HeaderContent>
        <MudTh>닉네임</MudTh>
        <MudTh>
            @if (FirstItem != null)
            {
            <div>
            <img class="team-img success" src="@FirstItem.Fixed[0].Flag" />
            <img class="team-img success" src="@FirstItem.Fixed[1].Flag" />
            <img class="team-img success" src="@FirstItem.Fixed[2].Flag" />
            <img class="team-img success" src="@FirstItem.Fixed[3].Flag" />
            </div>
            }
        </MudTh>
        <MudTh>최종 순위 점수</MudTh>
        <MudTh>결승전 점수</MudTh>
        <MudTh>4강 점수</MudTh>
        <MudTh>점수 합계</MudTh>
        <MudTh>배당금</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="닉네임">
            @context.User.DisplayName.Substring(0, 5)***
        </MudTd>
        <MudTd DataLabel="선택">
            <div>
            <img class="team-img success" src="@context.Picked[0].Flag" />
            <img class="team-img success" src="@context.Picked[1].Flag" />
            <img class="team-img success" src="@context.Picked[2].Flag" />
            <img class="team-img success" src="@context.Picked[3].Flag" />
            </div>
        </MudTd>
        <MudTd DataLabel="최종순위점수">
            @context.RankScore
        </MudTd>
        <MudTd DataLabel="결승전 점수">
            @context.FinalMatchScore
        </MudTd>
        <MudTd DataLabel="4강 점수">
            @context.SemiFinalMatchScore
        </MudTd>
        <MudTd DataLabel="점수 합계">
            @context.Score
        </MudTd>
        <MudTd DataLabel="배당금">
            @context.Reward.ToString("#,#")
        </MudTd>
    </RowTemplate>
</MudTable>
