@inherits JkwPageBase
@layout WcLayout

@if (BettingResult != null)
{
<MudTable Items="@BettingResult">
    <HeaderContent>
        <MudTh>순위</MudTh>
        <MudTh>닉네임</MudTh>
        <MudTh>성공</MudTh>
        <MudTh>실패</MudTh>
        <MudTh>점수</MudTh>
        <MudTh>상금</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="순위">@context.Rank</MudTd>
        <MudTd DataLabel="닉네임">
        @{
          List<string> badges = new();
          Color badgeColor = Color.Default;
          if (context.User == User)
          {
            badges.Add("me");
            badgeColor = Color.Success;
          }
          if (context.IsRandom)
          {
            badges.Add("랜덤");
            badgeColor = Color.Info;
          }
        }
        @if (badges.Any())
        {
          var badgeText = badges.StringJoin(" ");
          <MudBadge Content="badgeText" Overlap="true" Color="badgeColor">
            <MudText>@context.User.DisplayName</MudText>
          </MudBadge>
        }
        else
        {
          <MudText>@context.User.DisplayName</MudText>
        }
        </MudTd>
        <MudTd DataLabel="성공">
            <div>
            @foreach (var s in context.Success)
            {
                <img class="team-img success" src="@s.Flag?.Replace("sq-2", "sq-1")"/>
            }
            </div>
        </MudTd>
        <MudTd DataLabel="실패">
            <div>
            @foreach (var s in context.Fail)
            {
                <img class="team-img fail" src="@s.Flag?.Replace("sq-2", "sq-1")"/>
            }
            </div>
        </MudTd>
        <MudTd DataLabel="점수">@context.Score</MudTd>
        <MudTd DataLabel="상금">@context.Reward</MudTd>
    </RowTemplate>
</MudTable>
}